{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}    <!--Entity를 가져옴! 모델에 등록된 데이터는 #으로 가져올 수 있음!!-->
    <tr>
        <th>{{id}}</th>   <!--선언한거랑 같은 스펠링적어야함!-->
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}  <!--article을 여기까지 쓸거야!-->
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>  <!--모델에등록된 article 데이터의 id를 가져올 수 있다.-->
<a href="/articles">Go to Article List</a>
{{>layouts/footer}}