{{>layouts/header}}  <!--게시글 상세 페이지 보여주기-->
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}    <!--Entity를 가져옴! 모델에 등록된 데이터는 #으로 가져올 수 있음!!-->
    <tr>
        <th>{{id}}</th>   <!--선언한거랑 같은 스펠링적어야함!-->
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}  <!--article을 여기까지 쓸거야!-->
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>  <!--모델에등록된 article 데이터의 id를 가져올 수 있다.-->
<!--클라이언트에서 서버에 요청보낼 때 생성할땐 post, 조회할땐 get, 수정할땐 update, 삭제할땐 delete 요청을 보낸다고 http메서드가 있음! -->
<!--html에선 get과 post 이외의 메서드를 호환하지않아 따라서 구현의 편의를 위해 임의로 Get,a 태그 즉, 링크를사용 나중엔 js를 이용해 delete이용할것! -->
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>
<a href="/articles">Go to Article List</a>

{{>comments/_comments}} <!--댓글 목록 보여주기 , 댓글 생성하기 페이지를 위함-->



{{>layouts/footer}}